@model IEnumerable<BDAS2_SemPrace.Models.User>

@{
    ViewData["Title"] = "Index";
}
<div class="container-mt3" style="margin:2rem;">

    <h1>Seznam uživatelů</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <label class="control-label">Jméno a příjmení</label>
                </th>
                <th>
                     <label class="control-label">E-mail</label>
                </th>
                <th>
                     <label class="control-label">Telefonní číslo</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string jmeno = "";
                string email = "";
                string role = "";
                int? telefon = null;
                if (item.ZakaznikNav != null)
                {
                    jmeno = item.ZakaznikNav.FullName;
                    email = item.ZakaznikNav.Email;
                    telefon = item.ZakaznikNav.TelefonniCislo;
                    role = "Zákazník";
                }
                else if (item.ZamestnanecNav != null)
                {
                    jmeno = item.ZamestnanecNav.FullName;
                    email = item.ZamestnanecNav.Email;
                    telefon = item.ZamestnanecNav.TelefonniCislo;
                    if (item.Role == BDAS2_SemPrace.Role.ADMIN)
                        role = "Administrátor";
                    else
                        role = "Zaměstnanec";
                }
                <tr>
                    <td>
                        <label class="control-label">@jmeno</label>
                    </td>
                    <td>
                        <label class="control-label">@email</label>
                    </td>
                    <td>
                        <label class="control-label">+420<span>@telefon</span></label>
                    </td>
                    <td>
                        <label class="control-label">@role</label>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Emulate" asp-route-email="@item.Email">Emulovat</a>                        
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Email">Upravit</a> |
                        <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Email">Podrobnosti</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Email">Smazat</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>