@model BDAS2_SemPrace.Models.Prodeje

@{
    ViewData["Title"] = "Delete";
}
<div class="container-mt3" style="margin:2rem;">

    <h3>Opravdu chcete smazat tento záznam?</h3>
    <div>
        <h4>Prodej</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Suma)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Suma)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Datum)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Datum)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdPlatbaNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdPlatbaNavigation.Typ)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="CisloProdeje" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Zpět do seznamu</a>
        </form>
    </div>
</div>