@model IEnumerable<BDAS2_SemPrace.Models.Prodeje>

@{
    ViewData["Title"] = "Index";
}

<div class="container-mt3" style="margin:2rem;">

    <h1>Seznam prodejů</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Suma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPlatbaNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPlatbaNavigation.Typ)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.CisloProdeje">Upravit</a> |
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.CisloProdeje">Podrobnosti</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CisloProdeje">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>