@model BDAS2_SemPrace.Models.Zakaznici

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Zákazníci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonniCislo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonniCislo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZakaznik">Upravit</a> |
    <a asp-action="Index">Zpět do seznamu</a>
</div>
