@model IEnumerable<BDAS2_SemPrace.Models.Zakaznici>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*    <a asp-action="Create">Create New</a>*@
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonniCislo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Jmeno)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Prijmeni)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.TelefonniCislo)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                    @*<a asp-action="Edit" asp-route-id="@item.IdZakaznik">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdZakaznik">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdZakaznik">Delete</a>*@
                    @Html.ActionLink("Edit", "Edit", new {id=item.IdZakaznik}) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdZakaznik}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdZakaznik})
                    </td>
                </tr>
        }
    </tbody>
</table>
