@model IEnumerable<BDAS2_SemPrace.Models.Kategorie>

@{
    ViewData["Title"] = "Index";
}
<div class="container-mt3" style="margin:2rem;">

    <h1>Seznam kategorií</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Přidat kategorii</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nazev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Popis)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Popis)
                    </td>
                    <td>
                       <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.IdKategorie">Upravit</a> |
                       <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdKategorie">Podrobnosti</a> |
                       <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdKategorie">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>