@model BDAS2_SemPrace.Models.Zamestnanci

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zamestnanci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonniCislo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonniCislo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mzda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mzda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdManazerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdManazerNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMistoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMistoNavigation.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSkladNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSkladNavigation.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSupermarketNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSupermarketNavigation.Nazev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZamestnanec">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
