@model BDAS2_SemPrace.Models.UserCustomerViewModel
@{
    ViewData["Title"] = "Profil";
}



<div class="container mine">
    <section class="w-100 p-4" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <div >
                <a href="~/Account/AddProfilePic">
                    @if (Model.ProfilePic != null)
                    {
                        <img src="/Account/RetrieveImage/@Model.ProfilePic.IdObrazek" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                    }
                    else
                    {
                            <img src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-74-512.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                    }
                </a>
              </div>
              <h5 class="my-3">@Model.FullName</h5>
              <div class="d-flex justify-content-center mb-2" style="margin-top:1rem;">
                <a asp-controller="Zakaznici" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary" style="margin-right:0.5rem;">Upravit údaje</a>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Odhlásit se
                </button> 
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
                @{
                    string platbyText;
                    if (!Model.Platby.Any())
                        platbyText = "Zatím jste neprovedl(a) žadné platby";
                    else
                        platbyText = "Váše platby";
                }
              <h5 class="my-3" style="margin:0.5rem; margin-left: 1.5rem; font-size: 1rem;">@platbyText</h5>
              <ul class="list-group list-group-flush rounded-3">
                @foreach (var item in Model.Platby)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0">@item.Datum @item.Typ @item.CisloKarty <span>@item.Castka</span>Kč</p>
                        <a asp-controller="Platby" asp-action="Details" asp-route-id="@item.IdPlatba" class="btn btn-primary">Detail</a>
                    </li>
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Jméno a příjmení</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">@Model.FullName</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">@Model.Email</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefonní číslo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">+420<span>@Model.TelefonniCislo</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>



    <div class="p-4 text-center border-top mobile-hidden">
      <a asp-action="LogOut" class="btn btn-link px-3" data-mdb-toggle="collapse" role="button" aria-expanded="false" aria-controls="example3" data-ripple-color="hsl(0, 0%, 67%)">
        <i class="fas fa-code me-md-2"></i>
        <span class="d-none d-md-inline-block">
          Odhlásit se
        </span>
      </a>
    </div>  
    
            <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Odhlášení</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Chcete se odhlásit?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne</button>
              <a asp-action="LogOut" class="btn btn-outline-danger">Ano</a>
            </div>
          </div>
        </div>
      </div>

</div>
