
<h2>Vsichni Zakaznici</h2>
<div>
    @{
        foreach (var zakaznik in Model)
        {
        <h2>@zakaznik.Jmeno @zakaznik.Prijmeni</h2>
        <p>@zakaznik.ID.ToString()</p>
        <p>@zakaznik.Email</p>
        <p>@zakaznik.TelCislo.ToString()</p>
        }
    }
</div>


