@model BDAS2_SemPrace.Models.Zbozi

@{
    ViewData["Title"] = "Details";
}



<!DOCTYPE html>
<link rel="stylesheet" href="~/css/site.css asp-append-version="true" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zbozi</title>
</head>
<body>
    <h1>Details</h1>
    <div>
        <hr />
        <dl class="row">
           @* <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KodZbozi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KodZbozi)
            </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NazevZbozi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NazevZbozi)
            </dd>
            @if(Model.Popis != null)
            {
                <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Popis)
                </dt>
                <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Popis)
                </dd>   
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cena)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cena)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdKategorieNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdKategorieNavigation.Nazev)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdZnackaNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdZnackaNavigation.Nazev)
            </dd>
        </dl>
    </div>
    <div>
        @if(ModelContext.User.Permision == Permision.ADMIN)
        {
            <a asp-action="Edit" asp-route-id="@Model?.IdZbozi">Edit</a> <i>|</i>
        }
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>