@using BDAS2_SemPrace.Models
@model BDAS2_SemPrace.Models.Platby

@{
    ViewData["Title"] = "Details";
}
<div class="container-mt3" style="margin:2rem;">

    <div>
        <h4>Platba číslo @Model.IdPlatba</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Datum)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Datum)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Castka)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Castka)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Typ)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Typ)
            </dd>
            @if(Model.CisloKarty != null)
            {
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.CisloKarty)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.CisloKarty)
                </dd>
            }

            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdSupermarketNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdSupermarketNavigation.Nazev)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdZakaznikNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdZakaznikNavigation.Jmeno)
            </dd>
        </dl>
    </div>
    @if(ModelContext.User.Role == BDAS2_SemPrace.Role.ADMIN)
    {
        <div>
        <a asp-action="Edit" asp-route-id="@Model?.IdPlatba">Edit</a> |
        <a asp-action="Index">Back to List</a>
        </div>
    }
    
</div>