@model IEnumerable<BDAS2_SemPrace.Models.Adresy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ulice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Psc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ulice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Psc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAdresa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAdresa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAdresa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
