@model IEnumerable<BDAS2_SemPrace.Models.Pokladny>

@{
    ViewData["Title"] = "Index";
}
<div class="container-mt3" style="margin:2rem;">

    <h1>Seznam pokladen</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Přidat pokladnu</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdSupermarketNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CisloPokladny)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSupermarketNavigation.Nazev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CisloPokladny)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-supermarketId="@item.IdSupermarket" asp-route-cisloPokladny="@item.CisloPokladny">Upravit</a> |
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-supermarketId="@item.IdSupermarket" asp-route-cisloPokladny="@item.CisloPokladny">Podrobnosti</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-supermarketId="@item.IdSupermarket" asp-route-cisloPokladny="@item.CisloPokladny">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>