@model IEnumerable<BDAS2_SemPrace.Models.Pokladny>

@{
    ViewData["Title"] = "Index";
}
<div class="container-mt3" style="margin:2rem;">

    <h1>Seznam pokladen</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Přidat pokladnu</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdSupermarketNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CisloPokladny)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSupermarketNavigation.Nazev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CisloPokladny)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.IdSupermarket" asp-route-id="@item.CisloPokladny">Upravit</a> |
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdSupermarket">Podrobnosti</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdSupermarket">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<table class="table">
        <thead>
            <tr>
                <th>
                @Html.DisplayNameFor(model => model.IdSupermarketNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.IdSupermarketNavigation.Nazev)
                    </td>
                    <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
        </tbody>
    </table>*@
</div>